*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*='col-']{
    float: left;
    border: 1px solid gray;
    box-sizing: border-box;
}

.row:after{
    content: ' ';
    clear: both;
    display: block;
}

.wrapper{
    width: 100%;
    height: auto;
}

.header-height{height: 200px;}
.menu-height{height: 50px;}
.content-height{height: 1000px;}
.big-footer-height{height: 300px;}
.footer-height{height: 40px;}

.main-ul{
    list-style-type: none;
}

.main-li{
    float: left;
    width: 120px;
    /*border: 1px solid gray;*/
}

.main-li a{
    text-decoration: none;
    border: 1px solid gray;
    display: block;
    text-align: center;
    height: 48px;
    padding-top: 13px;
    background-color: gray;
    color: white;
    /*transition: 2s;*/
}

.main-li a:hover{
    background-color: black;
}

nav{
    background-color: gray;
    height: 50px;
    align-content: ;
}

.div-one{
    height: 150px;
    width: 150px;
    background-color: red;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 100px;
    float: left;
}
.div-two{
    height: 75px;
    width: 150px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: red;
    border-radius: 100px 100px 0px 0px;
    float: left;
}
.div-three{
    height: 75px;
    width: 150px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: red;
    border-radius: 0px 0px 100px 100px;
    float: left;
}
.div-four{
    height: 150px;
    width: 75px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: red;
    border-radius: 100px 0px 0px 100px;
    float: left;
}
.div-five{
    height: 150px;
    width: 75px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: red;
    border-radius: 0px 100px 100px 0px;
    float: left;
}
.div-six{
    height: 75px;
    width: 75px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: red;
    border-radius: 100px 0px 0px 0px;
    float: left;
}
.div-seven{
    height: 75px;
    width: 75px;
    margin-top: 50px;
    margin-left: 15px;
    background-color: red;
    border-radius: 0px 100px 0px 0px ;
    float: left;
}
.div-eight{
    height: 75px;
    width: 75px;
    margin-top: 15px;
    margin-left: 50px;
    background-color: red;
    border-radius: 0px 0px 0px 100px;
    float: left;
}
.div-nine{
    height: 75px;
    width: 75px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: red;
    border-radius: 0px 0px 100px 0px;
    float: left;
}
.div-ten{
    height: 140px;
    width: 70px;
    background-color: red;
    margin-top: 10px;
    margin-left: 50px;
    float: left;
    transform: skewY(35deg);
}
.div-eleven{
    height: 140px;
    width: 70px;
    background-color: green;
    margin-top: 10px;
    margin-left: 0px;
    float: left;
    transform: skewY(-35deg);
}
/*A*/
.div-twelve{
    height: 140px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    margin-top: 15px;
    margin-left: 68px;
    transform: skew(-20deg);
    float: left;
}
.div-thirteen{
    height: 140px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    margin-top: 15px;
    margin-left: 30px;
    transform: skew(20deg);
    float: left;
}
.div-fourteen{
    height: 20px;
    width: 67px;
    border: 1px solid red;
    background-color: red;
    margin-top: 80px;
    margin-left: -69px;
    float: left;
}
/*B*/
.div-fifteen{
    height: 140px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    margin-top: 15px;
    margin-left: 70px;
    float: left;
}
.div-sixteen{
    height: 80px;
    width: 90px;
    margin-top: 15px;
    margin-left: -20px;
    border-radius: 0 100px 100px 0;
    float: left;
    border: 20px solid red;
}
.div-seventeen{
    height: 80px;
    width: 90px;
    margin-top: 75px;
    margin-left: -90px;
    border-radius: 0 100px 100px 0;
    float: left;
    border: 20px solid red;
}
/*C*/
.div-eighteen{
    height: 140px;
    width: 90px;
    margin-top: 15px;
    margin-left: 50px;
    border-radius: 100px 0 0 100px;
    float: left;
    border: 20px solid red;
    border-right : 0;
}
/*D*/
.div-nineteen{
     height: 140px;
     width: 90px;
     margin-top: 15px;
     margin-left: 50px;
     border-radius: 0 100px 100px 0;
     float: left;
     border: 20px solid red;
 }
/*E*/
.div-twenty{
    height: 140px;
    width: 90px;
    margin-top: 15px;
    margin-left: 50px;
    float: left;
    border: 20px solid red;
    border-right: 0px;
}
.div-twenty-one{
    height: 20px;
    width: 70px;
    border: 1px solid red;
    background-color: red;
    margin-top: 75px;
    margin-left: -70px;
    float: left;
}
/*F*/
.div-twenty-two{
    height: 140px;
    width: 90px;
    margin-top: 15px;
    margin-left: 50px;
    float: left;
    border: 20px solid red;
    border-right: 0px;
    border-bottom: 0px;
}
.div-twenty-three{
    height: 20px;
    width: 70px;
    border: 1px solid red;
    background-color: red;
    margin-top: 75px;
    margin-left: -70px;
    float: left;
}
/*G*/
.div-twenty-four{
    height: 140px;
    width: 95px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 100px 0 0 100px;
    float: left;
    border: 20px solid red;
    border-right : 0px;
}
.div-twenty-five{
    height: 60px;
    width: 40px;
    margin-top: 120px;
    margin-left: -40px;
    float: left;
    border: 20px solid red;
    border-bottom: 0px;
    border-left: 0px;
}
/*H*/
.div-twenty-six{
    height: 140px;
    width: 90px;
    margin-top: 50px;
    margin-left: 55px;
    float: left;
    border: 20px solid red;
    border-top: 0px;
    border-bottom: 0px;
}
.div-twenty-seven{
    height: 20px;
    width: 50px;
    border: 1px solid red;
    background-color: red;
    margin-top: 110px;
    margin-left: -70px;
    float: left;
}
/*I*/
.div-twenty-eight{
    height: 140px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    margin-top: 50px;
    margin-left: 60px;
    float: left;
}
/*J*/
.div-twenty-nine{
    height: 140px;
    width: 60px;
    border: 20px solid red;
    border-radius: 0 0 50px 0px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 20px solid red;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}
/*K*/
.div-thirty{
    height: 140px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    margin-top: 50px;
    margin-left: 60px;
    float: left;
}
.div-thirty-one{
    height: 70px;
    width: 25px;
    border: 1px solid red;
    background-color: red;
    transform: skew(40deg);
    margin-top: 120px;
    margin-left: 10px;
    float: left;
}
.div-thirty-two{
    height: 70px;
    width: 25px;
    border: 1px solid red;
    background-color: red;
    transform: skew(-40deg);
    margin-top: 50px;
    margin-left: -25px;
    float: left;
}
/*L*/
.div-thirty-three{
    height: 140px;
    width: 70px;
    border: 20px solid red;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 20px solid red;
    margin-top: 50px;
    margin-left: 80px;
    float: left;
}
/*M*/
.div-thirty-four{
    height: 140px;
    width: 100px;
    border: 20px solid red;
    border-top: 0px;
    border-right: 20px solid red;
    border-left: 20px solid red;
    border-bottom: 0px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}
.div-thirty-five{
    height: 100px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(20deg);
    margin-top: 50px;
    margin-left: -80px;
    float: left;
}
.div-thirty-six{
    height: 100px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(-20deg);
    margin-top: 50px;
    margin-left: -40px;
    float: left;
}
/*N*/
.div-thirty-seven{
    height: 140px;
    width: 100px;
    border: 20px solid red;
    border-top: 0;
    border-right: 20px solid red;
    border-left: 20px solid red;
    border-bottom: 0;
    margin-top: 50px;
    margin-left: 60px;
    float: left;
}
.div-thirty-eight{
    height: 140px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(30deg);
    margin-top: 50px;
    margin-left: -60px;
    float: left;
}
/*O*/
.div-thirty-nine{
    height: 145px;
    width: 95px;
    border: 20px solid red;
    margin-top: 45px;
    margin-left: 50px;
    border-radius: 100px;
    float: left;
}
/*P*/
.div-fourty{
    height: 140px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    margin-top: 50px;
    margin-left: 40px;
    float: left;
}
.div-fourty-one{
    height: 80px;
    width: 90px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 100px 100px 0;
    float: left;
    border: 20px solid red;
    border-left: 0;
}
/*Q*/
.div-fourty-two{
    height: 145px;
    width: 95px;
    border: 20px solid red;
    margin-top: 45px;
    margin-left: 30px;
    border-radius: 100px;
    float: left;
}
.div-fourty-three{
    height: 35px;
    width: 25px;
    border: 1px solid red;
    background-color: red;
    transform: skew(45deg);
    margin-top: 155px;
    margin-left: -35px;
    float: left;
}
/*R*/
.div-fourty-four{
    height: 140px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    margin-top: 50px;
    margin-left: 45px;
    float: left;
}
.div-fourty-five{
    height: 80px;
    width: 90px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 100px 100px 0;
    float: left;
    border: 20px solid red;
    border-left: 0;
}
.div-fourty-six{
    height: 60px;
    width: 25px;
    border: 1px solid red;
    background-color: red;
    transform: skew(40deg);
    margin-top: 130px;
    margin-left: -50px;
    float: left;
}
/*S*/
.div-fourty-seven{
    height: 60px;
    width: 20px;
    background-color: red;
    transform: skew(48deg);
    margin-top: 90px;
    margin-left: 80px;
    float: left;
}
.div-fourty-eight{
    height: 40px;
    width: 90px;
    border: 20px solid red;
    border-radius: 0 0 50px 50px;
    border-top: 0;
    margin-top: 150px;
    margin-left: -55px;
    float: left;
}
.div-fourty-nine{
    height: 40px;
    width: 90px;
    border: 20px solid red;
    border-radius: 50px 50px 0 0;
    border-top: 20px solid red;
    border-bottom: 0;
    margin-top: 50px;
    margin-left: -88px;
    float: left;
}
/*T*/
.div-fifty{
    height: 120px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    margin-top: 70px;
    margin-left: 65px;
    float: left;
}
.div-fifty-one{
    height: 20px;
    width: 90px;
    border: 1px solid red;
    background-color: red;
    margin-top: 50px;
    margin-left: -55px;
    float: left;
}
/*U*/
.div-fifty-two{
    height: 140px;
    width: 90px;
    border: 20px solid red;
    border-radius: 0 0 50px 50px;
    border-top: 0;
    margin-top: 50px;
    margin-left: 40px;
    float: left;
}
/*V*/
.div-fifty-three{
     height: 135px;
     width: 20px;
     border: 1px solid red;
     background-color: red;
     transform: skew(15deg);
     margin-top: 50px;
     margin-left: 50px;
     float: left;
 }
.div-fifty-four{
    height: 135px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(-15deg);
    margin-top: 50px;
    margin-left: 25px;
    float: left;
}
/*W*/
.div-fifty-five{
    height: 135px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(10deg);
    margin-top: 800px;
    margin-left: 70px;
}
.div-fifty-six{
    height: 90px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(-15deg);
    margin-top: -90px;
    margin-left: 100px;
    float: left;
}
.div-fifty-seven{
    height: 90px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(15deg);
    margin-top: -90px;
    margin-left: 125px;
    float: left;
}
.div-fifty-eight{
    height: 135px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(-10deg);
    margin-top: -135px;
    margin-left: 155px;
    float: left;
}
/*X*/
.div-fifty-nine{
    height: 135px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(30deg);
    margin-top: -135px;
    margin-left: 250px;
    float: left;
}
.div-sixty{
    height: 135px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(-30deg);
    margin-top: -135px;
    margin-left: 250px;
    float: left;
}
/*Y*/
.div-sixty-one{
    height: 80px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(25deg);
    margin-top: -135px;
    margin-left: 350px;
    float: left;
}
.div-sixty-two{
    height: 80px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(-25deg);
    margin-top: -135px;
    margin-left: 387px;
    float: left;
}
.div-sixty-three{
    height: 55px;
    width: 21px;
    border: 1px solid red;
    background-color: red;
    margin-top: -55px;
    margin-left: 368px;
    float: left;
}
/*Z*/
.div-sixty-four{
    height: 140px;
    width: 100px;
    border: 20px solid red;
    border-right: 0;
    border-left: 0;
    margin-top: -135px;
    margin-left: 455px;
    float: left;
}
.div-sixty-five{
    height: 100px;
    width: 20px;
    border: 1px solid red;
    background-color: red;
    transform: skew(-38deg);
    margin-top: -115px;
    margin-left: -60px;
    float: left;
}